.main-header {
  margin: 15px 5px;
  background: var(--clrHeaderbgc);
  border-radius: 50px;
}

.main-header .main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;

  color: var(--clrFontHeader);
}

.main-nav .logo {
  margin-block-start: 0.6em;
  margin-inline-start: 5em;

  font-size: 1.375em;
  text-transform: uppercase;
  font-weight: bold;
}

.main-nav li {
  display: inline;
  padding: 5px;
  list-style: none;
}

.main-nav a {
  margin-inline-end: 2em;
  text-decoration: none;
  color: white;
}

.main-nav a:hover {
  background-color: var(--clrFontHeader);
  border-radius: 50px;
  padding: 5px;
  color: var(--clrFontHeaderHover);
  font-weight: bold;
}

.btn-menu {
  display: none;
}

@media (max-width: 768px) {
  .main-nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: var(--clrFontHeaderHover);
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .main-nav ul.open {
    display: flex;
  }

  .btn-menu {
    display: block;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: var(--clrFontHeader);
  }
}
