:root {
  --clrHeaderbgc: linear-gradient(
    90deg,
    rgba(15, 155, 180, 1) 0%,
    rgba(48, 187, 114, 1) 70%
  );
  --clrFontHeaderHover: #21ac91;
  --clrFontHeader: #ffffff;
  --clrMemeEditorbgc: #383b42;
  --clrBtnLineAdd: #30bb72;
  --clrBtnLineSwitch: #0f9bb4;
  --clrBtnLineDelete: #bb3d3d;
  --clrBtnShare: #1e7cd3;
  --clrBtnDownload: #8f44bb;
}
